html,body{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family:'Lato',sans-serif;
}
#nav-header{
	padding-left:1em;
	padding-top:.5em;
}
.cap-text{
	text-transform: capitalize;
}
#hero{
	height:75vh;
	background:url('../../images/city.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about{
	height:25vh;
}