html,body{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family:'Lato',sans-serif;
}
h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}
#nav-header{
	padding-left:1em;
	padding-top:.5em;
}
.cap-text{
	text-transform: capitalize;
}
#hero{
	height:100vh;
	background:url('../../images/city.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about{
	height:50vh;
}
#about h3{
	font-size:32px;
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
#aboutheading{
	font-weight:700;
	text-shadow: -2px 2px 0px #0b3b4b;
}
.text-shadow{
	text-shadow: -2px 2px 0px #0b3b4b;
}
::selection{
	background-color:white;
}
@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -webkit-transform: translateY(-10px);
	  -ms-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	60% {
	  -webkit-transform: translateY(-5px);
	  -ms-transform: translateY(-5px);
	  transform: translateY(-5px);
	}
 }
#speakers{
  padding-top:1em;
	height:30vh;
}
#sponsor{
  padding-top: 1em;
	height:30vh;
}
#sponsorsubtext{
	font-size:18px;
}
footer{
  padding-top:0;
  padding:0;
  margin:0;
}
.footer-copyright{
  padding-top:1em;
}
.large-text{
  font-size:32px;
}
.medium-text{
  font-size:18px;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}